@model IEnumerable<SeriesTracker.Models.SeriesModel>

@{
    ViewData["Title"] = "DeleteSeries";
}

<h1>Delete A Series</h1>

@*Series ID info is available here using "model.SeriesID"*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DebutYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilmType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DebutYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @*TODO: Implement an Inline Delete Confirmation (instead of an alert box)*@
                <a class="btn btn-danger" onclick="return confirm('This action will delete the series and ALL episodes.\nAre you sure you want to delete this series: @item.Title ?')">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Styles {
    <link rel="stylesheet" href="~/css/delete-series.css" type="text/css" />
}

@section Scripts {
    <script src="~/js/delete-series.js"></script>
} 
