@model IEnumerable<SeriesTracker.Models.SeriesModel>

@{
    ViewData["Title"] = "Series";
}

<h2>Series</h2>

<p>
    <a asp-controller="Series" asp-action="AddSeries">Add a new series</a> | 
    @*<a asp-action="">Edit</a> |*@ 
    <a asp-controller="Series" asp-action="DeleteSeries">Delete</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DebutYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilmType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="Series" asp-action="SeriesDetails" asp-route-id="@item.SeriesID">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DebutYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
        </tr>
}
    </tbody>
</table>
