@model IEnumerable<SeriesTracker.Models.EpisodeModel>

@{
    ViewData["Title"] = "SeriesDetails";
}

<h1>@ViewData["SeriesTitle"]</h1>

<p>
    <a asp-controller="Series" asp-action="AddSeason" asp-route-id=@ViewData["SeriesID"]>Add a season</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EpisodeNumberSeries)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EpisodeNumberSeason)
            </th>
            <th>
                @Html.DisplayName("Title")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginalAirDate)
            </th>
            <th></th>
        </tr>
    </thead>
    @if (ViewData["Language"].ToString().Equals("Japanese"))
    {
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td rowspan="3">
                        @Html.DisplayFor(modelItem => item.EpisodeNumberSeries)
                    </td>
                    <td rowspan="3">
                        @Html.DisplayFor(modelItem => item.EpisodeNumberSeason)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TitleEnglish)
                    </td>
                    <td rowspan="3">
                        @Html.DisplayFor(modelItem => item.OriginalAirDate)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TitleRomaji)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TitleJapanese)
                    </td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EpisodeNumberSeries)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EpisodeNumberSeason)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TitleEnglish)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OriginalAirDate)
                    </td>
                </tr>
            }
        </tbody>
    }
</table>
